{% extends 'base.html' %}

{% block content %}
{% load static %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'topbar.html' %}

                <!-- Begin Page Content -->
 <div class="row">

                        <!-- Grow In Utility -->
                        <div class="col-lg-6">

                            <div class="card position-relative">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">آیا این مورد رو حذف می کنید؟</h6>
                                </div>
                                <div class="card-body">
                                   <form method="post">
                                       {% csrf_token %}
                                       {{ form.as_p }}
                                       <button type="submit" class="btn btn-danger">ثبت</button>
                                   </form>


                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



            {% include 'footer.html' %}
{% endblock %}