{% extends 'base.html' %}


{% load static %}
{% load jalali %}

{% block content %}
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            {% include 'header.html' %}
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Sidebar-->
                {% include 'sidebar.html' %}
                <!--end::Sidebar-->
                <!--begin::اصلی-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <!--begin::Toolbar-->
                        {% include 'toolbar.html' %}
                        <!--end::Toolbar-->
                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <!--begin::Content container-->
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <!--begin::Row-->
                                <div class="row g-5 g-xl-8">
                                    <div class="card card-flush mt-6 mt-xl-9">
                                        <!--begin::کارت header-->
                                        <div class="card-header mt-5">
                                            <!--begin::کارت title-->
                                            <div class="card-title flex-column">
                                                <h3 class="fw-bold mb-1">لیست آنومالی</h3>
                                                <div class="fs-6 text-gray-500">{{ all_users_anomaly_stats.total_anomalies_year }} آنومالی در سال جاری ثبت شده است </div>
                                            </div>
                                            <!--begin::کارت toolbar-->
                                            <div class="card-toolbar my-1">
                                                <form method="get" action="{% url 'anomalis:list' %}" class="d-flex align-items-center flex-wrap">
                                                    <div class="me-2">
                                                        <select id="kt_filter_year" name="time" class="form-select form-select-solid form-select-sm">
                                                            <option value="همه" {% if time_filter == 'همه' %}selected{% endif %}>همه زمان</option>
                                                            <option value="امسال" {% if time_filter == 'امسال' %}selected{% endif %}>امسال</option>
                                                            <option value="این ماه" {% if time_filter == 'این ماه' %}selected{% endif %}>در این ماه</option>
                                                            <option value="ماه گذشته" {% if time_filter == 'ماه گذشته' %}selected{% endif %}>ماه گذشته</option>
                                                            <option value="90 روز اخیر" {% if time_filter == '90 روز اخیر' %}selected{% endif %}>90 روز اخیر</option>
                                                        </select>
                                                    </div>
                                                    <div class="me-2">
                                                        <select id="kt_filter_status" name="status" class="form-select form-select-solid form-select-sm">
                                                            <option value="همه" {% if status_filter == 'همه' %}selected{% endif %}>همه آنومالی ها</option>
                                                            <option value="ایمن" {% if status_filter == 'ایمن' %}selected{% endif %}>ایمن شده</option>
                                                            <option value="نا ایمن" {% if status_filter == 'نا ایمن' %}selected{% endif %}>نا ایمن</option>
                                                        </select>
                                                    </div>
                                                    <div class="me-2">
                                                        <select id="kt_filter_priority" name="priority" class="form-select form-select-solid form-select-sm">
                                                            <option value="همه" {% if priority_filter == 'همه' %}selected{% endif %}>همه اولویت‌ها</option>
                                                            <option value="زیاد" {% if priority_filter == 'زیاد' %}selected{% endif %}>اولویت زیاد</option>
                                                            <option value="کم" {% if priority_filter == 'کم' %}selected{% endif %}>اولویت کم</option>
                                                        </select>
                                                    </div>
                                                    <div class="me-2">
                                                        <input type="text" name="search" id="kt_filter_search"
                                                               class="form-control form-control-solid form-select-sm"
                                                               placeholder="جستجو"
                                                               value="{{ search_query }}">
                                                    </div>
                                                    <div class="me-2">
                                                        <button type="submit" class="btn btn-primary">اعمال فیلترها</button>
                                                    </div>
                                                    <div>
                                                        <a href="{% url 'anomalis:export_anomalies_to_excel' %}?search={{ search_query }}&priority={{ priority_filter }}&status={{ status_filter }}&time={{ time_filter }}" class="btn btn-success">خروجی اکسل</a>
                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                        <!--begin::کارت body-->
                                        <div class="card-body pt-0">
                                            <div class="table-responsive">
                                                <table id="kt_profile_overview_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
                                                    <thead class="fs-7 text-gray-500 text-uppercase">
                                                    <tr>
                                                        <th class="min-w-30px">کد آنومالی</th>
                                                        <th class="min-w-250px">مسئول پیگیری</th>
                                                        <th class="min-w-90px">ایجاد کننده</th>
                                                        <th class="min-w-150px">تاریخ</th>
                                                        <th class="min-w-90px">محل</th>
                                                        <th class="min-w-90px">شرح</th>
                                                        <th class="min-w-90px">اولویت</th>
                                                        <th class="min-w-90px">وضعیت</th>
                                                        <th class="min-w-50px text-end">جزییات</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="fs-6">
                                                    {% for anomaly in page_obj %}
                                                        <tr>
                                                            <td>{{ anomaly.id }}</td>
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-5 position-relative">
                                                                        {% if anomaly.followup.image %}
                                                                        <div class="symbol symbol-35px symbol-circle">
                                                                            <img alt="{{ anomaly.description }}" src="{{ anomaly.followup.image.url }}" />
                                                                        </div>
                                                                        {% else %}
                                                                        <div class="symbol symbol-35px symbol-circle">
                                                                            <img alt="{{ anomaly.description }}" src="{% static 'assets/media/avatars/blank.png' %}" />
                                                                        </div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="d-flex flex-column justify-content-center">
                                                                        <a href="" class="fs-6 text-gray-800 text-hover-primary">{{ anomaly.followup.user.first_name }} {{ anomaly.followup.user.last_name }}</a>
                                                                        <div class="fw-semibold text-gray-500">{{ anomaly.followup.mobile }}</div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{ anomaly.created_by.user.first_name }} {{ anomaly.created_by.user.last_name }}</td>
                                                            <td>{{ anomaly.created_at|to_jalali }}</td>
                                                            <td>{{ anomaly.location }}</td>
                                                            <td>{{ anomaly.anomalydescription }}</td>
                                                            <td>
                                                                {% if anomaly.priority.priority == "زیاد" %}
                                                                    <span class="badge badge-light-danger">زیاد</span>
                                                                {% elif anomaly.priority.priority == "متوسط" %}
                                                                    <span class="badge badge-light-warning">متوسط</span>
                                                                {% elif anomaly.priority.priority == "کم" %}
                                                                    <span class="badge badge-light-success">کم</span>
                                                                {% else %}
                                                                    <span class="badge badge-light-secondary">نامشخص</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if anomaly.action %}
                                                                    <span class="badge badge-light-success">ایمن</span>
                                                                {% else %}
                                                                    <span class="badge badge-light-danger">غیر امن</span>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-end">
                                                                <a href="{% url 'anomalis:anomaly_detail' anomaly.pk %}" class="btn btn-light btn-sm">نمایش</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                             <!--شروع::شماره صفحات-->

                                    <div class="pagination">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=1">&laquo; اول</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                                    </li>
                                                {% endif %}

                                                <!-- نمایش تعداد صفحات به صورت محدود -->
                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                                                        {% if num == page_obj.number %}
                                                            <li class="page-item active">
                                                                <span class="page-link">{{ num }}</span>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">آخر &raquo;</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>


                                    <!--پایان::شماره صفحات-->
                                            </div>
                                        </div>
                                    </div>





                                    <!--end::جداول Widget 13-->
                                </div>

                                <!--end::Content container-->
                            </div>
                            <!--end::Content-->

                        </div>
                        <!--end::Content wrapper-->
                        <!--begin::Footer-->
                        {% include 'footer.html' %}
                        <!--end::Footer-->
                    </div>
                    <!--end:::اصلی-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Page-->
        </div>
        <!--begin::notification drawer-->
        <div id="kt_drawer_chat" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="chat" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'md': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_drawer_chat_toggle" data-kt-drawer-close="#kt_drawer_chat_close">
            <!--begin::Messenger-->
            {% include 'notification.html' %}
            <!--end::Messenger-->
        </div>
        <!--end::notification drawer-->

{% endblock %}