{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% if hospital %}
        {% trans "ویرایش بیمارستان" %}
    {% else %}
        {% trans "بیمارستان جدید" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        {% include 'header.html' %}
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            {% include 'sidebar.html' %}
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <div class="d-flex flex-column flex-column-fluid">
                    {% include 'toolbar.html' %}
                    <div id="kt_app_content" class="app-content flex-column-fluid">
                        <div id="kt_app_content_container" class="app-container container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {% if hospital %}
                                                    {% trans "ویرایش بیمارستان" %}
                                                {% else %}
                                                    {% trans "بیمارستان جدید" %}
                                                {% endif %}
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <form method="post">
                                                {% csrf_token %}
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="{{ form.name.id_for_label }}">{% trans "نام بیمارستان" %}</label>
                                                            {{ form.name }}
                                                            {% if form.name.errors %}
                                                                <div class="invalid-feedback d-block">
                                                                    {{ form.name.errors }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="{{ form.phone.id_for_label }}">{% trans "شماره تماس" %}</label>
                                                            {{ form.phone }}
                                                            {% if form.phone.errors %}
                                                                <div class="invalid-feedback d-block">
                                                                    {{ form.phone.errors }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="{{ form.address.id_for_label }}">{% trans "آدرس" %}</label>
                                                            {{ form.address }}
                                                            {% if form.address.errors %}
                                                                <div class="invalid-feedback d-block">
                                                                    {{ form.address.errors }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="custom-control custom-switch">
                                                                {{ form.is_active }}
                                                                <label class="custom-control-label" for="{{ form.is_active.id_for_label }}">{% trans "فعال" %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary">
                                                            {% if hospital %}
                                                                {% trans "ذخیره تغییرات" %}
                                                            {% else %}
                                                                {% trans "ثبت بیمارستان" %}
                                                            {% endif %}
                                                        </button>
                                                        <a href="{% url 'emergency_services:hospital_list' %}" class="btn btn-secondary">{% trans "بازگشت" %}</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 