{% extends 'base.html' %}
{% load static %}
{% load form_filters %}
{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@1.2.0/dist/css/persian-datepicker.css">
<style>
        /* محل قرارگیری پیام ها */
        .alert-messages {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 400px;
            z-index: 1000;
        }

        /* استایل پایه برای همه پیام ها */
        .alert {
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 5px;
            position: relative;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
        }

        /* استایل پیام های موفقیت */
        .alert-success {
            background-color: #d4edda; /* سبز روشن */
            color: #155724; /* سبز تیره */
            border-color: #c3e6cb; /* سبز روشن */
        }

        /* استایل پیام های خطا */
        .alert-error, .alert-danger {
            background-color: #f8d7da; /* قرمز روشن */
            color: #721c24; /* قرمز تیره */
            border-color: #f5c6cb; /* قرمز روشن */
        }

        /* استایل پیام های هشدار */
        .alert-warning {
            background-color: #fff3cd; /* زرد روشن */
            color: #856404; /* زرد تیره */
            border-color: #ffeeba; /* زرد روشن */
        }

        /* استایل پیام های اطلاع رسانی */
        .alert-info {
            background-color: #cff4fc; /* آبی روشن */
            color: #084298; /* آبی تیره */
            border-color: #b6effb; /* آبی روشن */
        }

        /* استایل دکمه بستن */
        .alert-dismissible .btn-close {
            position: absolute;
            top: 0;
             left: 0;
            padding: 10px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 20px;
            opacity: 0.5;
        }

        .alert-dismissible .btn-close:hover{
            opacity: 1;
        }
         .select2-container {
            width: 100% !important;
        }
         .hidden {
            display: none !important
         }


    </style>
{% endblock %}
{% block content %}
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            {% include 'header.html' %}
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                {% include 'sidebar.html' %}
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        {% include 'toolbar.html' %}
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">لیست گزارشات حادثه</h2>
                                      <div class="row">
                                           <div class="col-md-8 mb-3">
                                             <div class="form-inline">
                                                        <div class="form-group mb-2">
                                                                 <input type="text" class="form-control" id="search"  placeholder="جستجو" >
                                                            </div>
                                                         <div class="form-group mb-2 mx-2">
                                                                  <input type="text" class="form-control persian-date-picker"  id="incident_date_start" placeholder="از تاریخ" >
                                                              </div>
                                                        <div class="form-group mb-2 mx-2">
                                                             <input type="text"  class="form-control persian-date-picker"  id="incident_date_end" placeholder="تا تاریخ" >
                                                            </div>
                                                          <button type="button" id="filter_button" class="btn btn-primary mb-2 mx-2">اعمال فیلتر</button>
                                                    </div>
                                           </div>
                                            <div class="col-md-4 mb-3 d-flex justify-content-end align-items-center">
                                                     <a id="export_excel_btn" href="#" class="btn btn-success">خروجی اکسل</a>
                                           </div>

                                     </div>
                                      <div class="table-responsive">
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>تاریخ وقوع حادثه</th>
                                                   <th>ساعت وقوع حادثه</th>
                                                   <th>محل وقوع حادثه</th>
                                                   <th>شخص/اشخاص مرتبط با حادثه</th>
                                                   <th>جزئیات</th>
                                               </tr>
                                           </thead>
                                          <tbody id="report_table_body">
                                                   {% for report in reports %}
                                                       <tr data-report-id="{{ report.id }}">
                                                           <td class="incident-date-cell">{{ report.incident_date }}</td>
                                                           <td>{{ report.incident_time }}</td>
                                                           <td>{{ report.incident_location }}</td>
                                                           <td>
                                                             {% for person in report.involved_person.all %}
                                                                   {{person}},
                                                               {% endfor %}
                                                               </td>
                                                          <td>
                                                               <a href="{% url 'hse_incidents:report_details' report.id %}" class="btn btn-sm btn-info">جزئیات</a>
                                                             </td>
                                                       </tr>
                                                   {% empty %}
                                                        <tr>
                                                          <td colspan="5" class="text-center">هیچ گزارشی یافت نشد.</td>
                                                       </tr>
                                                   {% endfor %}
                                               </tbody>
                                       </table>
                                       </div>
                                   </div>
                               </div>

                            </div>
                        </div>
                         {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://unpkg.com/persian-date@1.1.0/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function () {
            const date_start = $('#incident_date_start')
            const date_end = $('#incident_date_end')
                date_start.persianDatepicker({
                        format: 'YYYY/MM/DD',
                        altFormat: 'YYYY-MM-DD',
                });
                  date_end.persianDatepicker({
                        format: 'YYYY/MM/DD',
                         altFormat: 'YYYY-MM-DD',
                    });
                     $('#filter_button').on('click', function() {
                            filterReports();
                     });
                     $('#export_excel_btn').on('click', function(e) {
                            e.preventDefault();
                            exportReports();
                     });
       function filterReports() {
              const searchTerm = document.getElementById('search').value;
              const incidentDateStart = document.getElementById('incident_date_start').value;
              const incidentDateEnd = document.getElementById('incident_date_end').value;
         axios.get('{% url "hse_incidents:list_reports" %}', {
               params: {
                  search: searchTerm,
                   incident_date_start: incidentDateStart,
                   incident_date_end: incidentDateEnd,
                 },
              })
              .then(function (response) {
                 const reportTableBody = document.getElementById('report_table_body');
                 reportTableBody.innerHTML = '';
                 if (response.data.reports && response.data.reports.length > 0) {
                     response.data.reports.forEach(function (report) {
                         const rowHTML = `
                           <tr data-report-id="${report.id}">
                                <td>${report.incident_date}</td>
                                   <td>${report.incident_time}</td>
                                    <td>${report.incident_location}</td>
                                    <td>${report.involved_persons}</td>
                                       <td>
                                         <a href="/hse_incidents/report_details/${report.id}/" class="btn btn-sm btn-info">جزئیات</a>
                                      </td>
                                 </tr>
                               `;
                               reportTableBody.innerHTML += rowHTML;
                     });
              }else{
                         const empty_html= `<tr>
                                         <td colspan="5" class="text-center">هیچ گزارشی یافت نشد.</td>
                                       </tr>`
                         reportTableBody.innerHTML = empty_html;
               }
              })
              .catch(function (error) {
                const reportTableBody = document.getElementById('report_table_body');
                  console.error('Error fetching reports:', error);
                  const empty_html= `<tr>
                                      <td colspan="5" class="text-center">خطایی رخ داد.</td>
                                  </tr>`
                    reportTableBody.innerHTML = empty_html
                 });
          }
            function exportReports(){
                 const searchTerm = document.getElementById('search').value;
                 const incidentDateStart = document.getElementById('incident_date_start').value;
                 const incidentDateEnd = document.getElementById('incident_date_end').value;
                  let url = '{% url "hse_incidents:export_reports_excel" %}';
                    const params = [];
                    if (searchTerm) params.push(`search=${searchTerm}`);
                    if(incidentDateStart)params.push(`incident_date_start=${incidentDateStart}`);
                   if(incidentDateEnd)params.push(`incident_date_end=${incidentDateEnd}`);
                   if(params.length > 0){
                       url +=`?${params.join('&')}`;
                     }
                    window.location.href = url;
              }
      });
    </script>
{% endblock %}