
/* Custom RTL Fixes for Sidebar */
/* Align sidebar text and icons to the right */
.sidebar .nav-item .nav-link {
    display: flex;
    text-align: right;
    direction: rtl; /* Ensure RTL text direction */

}

@font-face {
    font-family: 'Vazir';
    src: url(fonts/Vazir.woff2) format('woff2'),
         url(fonts/Vazir.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir', sans-serif;
}




