{% load static %}
<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap">
            <!--begin: Pic-->
            <div class="me-7 mb-4">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                    {% if userprofile.image and userprofile.image.url %}
                        <img src="{{ userprofile.image.url }}" alt="Profile Image" />
                    {% else %}
                        <img src="{% static 'assets/media/avatars/blank.png' %}" alt="Default Image" />
                    {% endif %}

                    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                </div>
            </div>
            <!--end::Pic-->
            <!--begin::Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <!--begin::user-->
                    <div class="d-flex flex-column">
                        <!--begin::نام-->
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"> {{ user.first_name }} {{ user.last_name }}</a>
                            {% if user.is_superuser %}
                                <a href="#">
                                    <i class="ki-outline ki-verify fs-1 text-primary"></i>
                                </a>
                            {% endif %}
                        </div>
                        <!--end::نام-->
                        <!--begin::Info-->
                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                <i class="ki-outline ki-profile-circle fs-4 me-1"></i>{{ user.groups.all|first}}</a>
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                <i class="fas fa-users fs-4 me-1"></i> گروه کاری : {{ userprofile.group }} </a>
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
                                <i class="ki-outline ki-sms fs-4"></i>{{ user.email }}</a>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::user-->
                    <!--begin::Actions-->
                    <div class="d-flex my-4">

                        <!--begin::Menu-->

                        <!--end::Menu-->
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Title-->
                <!--begin::Stats-->
                <div class="d-flex flex-wrap flex-stack">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column flex-grow-1 pe-8">
                        <!--begin::Stats-->
                        <div class="d-flex flex-wrap">
                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::شماره کارت-->
                                <div class="d-flex align-items-center">
                                    <i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="{{ user_anomaly_stats.total_anomalies }}" data-kt-countup-prefix="">0</div>
                                </div>
                                <!--end::شماره کارت-->
                                <!--begin::Tags-->
                                <div class="fw-semibold fs-6 text-gray-500">تعداد کل آنومالی</div>
                                <!--end::Tags-->
                            </div>
                            <!--end::Stat-->
                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::شماره کارت-->
                                <div class="d-flex align-items-center">
                                    <i class="ki-outline ki-arrow-down fs-3 text-danger me-2"></i>
                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="{{ user_anomaly_stats.high_priority_anomalies }}">0</div>
                                </div>
                                <!--end::شماره کارت-->
                                <!--begin::Tags-->
                                <div class="fw-semibold fs-6 text-gray-500">آنومالی با اولویت زیاد </div>
                                <!--end::Tags-->
                            </div>
                            <!--end::Stat-->
                            <!--begin::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::شماره کارت-->
                                <div class="d-flex align-items-center">
                                    <i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="{{ user_anomaly_stats.secured_anomalies }}" data-kt-countup-prefix="">0</div>
                                </div>
                                <!--end::شماره کارت-->
                                <!--begin::Tags-->
                                <div class="fw-semibold fs-6 text-gray-500">آنومالی های ایمن</div>
                                <!--end::Tags-->
                            </div>
                            <!--end::Stat-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <!--begin::شماره کارت-->
                                <div class="d-flex align-items-center">
                                    <i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
                                    <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="{{ user_anomaly_stats.secured_anomalies }}" data-kt-countup-prefix="">0</div>
                                </div>
                                <!--end::شماره کارت-->
                                <!--begin::Tags-->
                                <div class="fw-semibold fs-6 text-gray-500">آنومالی های ناایمن</div>
                                <!--end::Tags-->
                            </div>
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Details-->
        <!--begin::Navs-->
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">


            <!--begin::Nav item-->
            <li class="nav-item mt-2">
                <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{% url 'permissions:manage_access' %}">دسترسی ها</a>
            </li>
            <!--end::Nav item-->
            <!--begin::Nav item-->
            <li class="nav-item mt-2">
                <a class="nav-link text-active-primary ms-0 me-10 py-5" href="{% url 'permissions:list_permissions' %}">لیست دسترسی ها</a>
            </li>
            <!--end::Nav item-->

        </ul>
        <!--begin::Navs-->
    </div>
</div>