{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            {% include 'header.html' %}
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Sidebar-->
                {% include 'sidebar.html' %}
                <!--end::Sidebar-->
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        <!--begin::Toolbar-->
                        {% include 'toolbar.html' %}
                        <!--end::Toolbar-->
                        {% if messages %}
                            <div class="messages mt-4">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm" role="alert">
                                        <i class="bi bi-info-circle-fill me-2"></i> <!-- آیکون زیبا -->
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <!--begin::Content container-->
                            <div id="kt_app_content_container" class="app-container container-fluid">
                                <div class="container py-5">
                                    <h2 class="text-center mb-4">مدیریت دسترسی‌ها</h2>
                                    <form method="post" class="bg-white p-4 rounded shadow-sm">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="entity_type" class="form-label">انتخاب نوع:</label>
                                            <select name="entity_type" id="entity_type" class="form-select">
                                                <option value="" disabled selected>نوع را انتخاب کنید</option>
                                                <option value="department">واحد</option>
                                                <option value="unit">بخش</option>
                                                <option value="position">پست</option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="entity_id" class="form-label">انتخاب واحد/بخش/پست:</label>
                                            <select name="entity_id" id="entity_id" class="form-select">
                                                <!-- گزینه‌ها با جاوااسکریپت تغییر می‌کنند -->
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="view_name" class="form-label">انتخاب ویوها:</label>
                                            <select name="view_name" id="view_name" class="form-select select2" multiple>
                                                {% for view in views_with_labels %}
                                                    <option value="{{ view.name }}">{{ view.label }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">سطح دسترسی:</label><br>
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="can_view" id="can_view">
                                                <label class="form-check-label" for="can_view">مشاهده</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="can_add" id="can_add">
                                                <label class="form-check-label" for="can_add">افزودن</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="can_edit" id="can_edit">
                                                <label class="form-check-label" for="can_edit">ویرایش</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="checkbox" class="form-check-input" name="can_delete" id="can_delete">
                                                <label class="form-check-label" for="can_delete">حذف</label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">ذخیره</button>
                                    </form>
                                </div>
                            </div>
                            <!--end::Content container-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Content wrapper-->
                    <!--begin::Footer-->
                    {% include 'footer.html' %}
                    <!--end::Footer-->
                </div>
                <!--end::Main-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>



    <script>
        const entityTypeSelect = document.getElementById('entity_type');
        const entityIdSelect = document.getElementById('entity_id');

        const units = {{ units|safe }};
        const departments = {{ departments|safe }};
        const positions = {{ positions|safe }};

        entityTypeSelect.addEventListener('change', function () {
            const type = this.value;
            entityIdSelect.innerHTML = '';
            let options = [];

            if (type === 'unit') {
                options = units.map(unit => `<option value="${unit.id}">${unit.name}</option>`);
            } else if (type === 'department') {
                options = departments.map(dept => `<option value="${dept.id}">${dept.name}</option>`);
            } else if (type === 'position') {
                options = positions.map(pos => `<option value="${pos.id}">${pos.name}</option>`);
            }

            entityIdSelect.innerHTML = options.join('');
        });
    </script>
{% endblock %}
{% block extra_js %}

    <script>
        $(document).ready(function() {
            $('#view_name').select2({
                placeholder: "ویوها را انتخاب کنید", // متن راهنما
                allowClear: true, // امکان پاک کردن انتخاب‌ها
                width: '100%' // تنظیم عرض مناسب
            });
            $('#entity_id').select2({
                placeholder: "واحد/بخش/پست را انتخاب کنید",
                allowClear: false,
                width: '100%' // تنظیم عرض مناسب
            });
        });
    </script>
{% endblock %}
