{% extends 'base.html' %}
{% load static %}

{% block title %}جایگزینی کپسول{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-lg-2 d-none d-lg-block px-0">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-12 col-lg-10 px-0">
                {% include 'toolbar.html'%}
                <div class="app-container container-fluid mt-4">
                    <div class="card shadow-sm">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 class="card-title mb-0">فرم جایگزینی کپسول</h3>
                            <a href="javascript:history.back()" class="btn btn-light btn-sm">بازگشت</a>
                        </div>
                        <div class="card-body">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">جایگزین کن</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
    {% include 'bottom_navbar.html' %}
{% endblock %} 