{# dashboard/templates/notification.html #}
{% load static %}
{% if request.user.is_authenticated %}
    <div class="card w-100 border-0 rounded-0" id="kt_drawer_chat_messenger">
    <!--begin::کارت body-->
    <div class="card-body">
    <!--begin::Tabs-->
    <div class="d-flex justify-content-center mb-5">
        <button class="btn btn-primary me-2" id="newNotificationsTab">اعلان‌های جدید</button>
        <button class="btn btn-secondary" id="readNotificationsTab">اعلان‌های خوانده شده</button>
    </div>
    <!--end::Tabs-->

    <!-- جدید اعلان ها -->
    <div class="notifications-list" id="newNotificationsList">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="fw-bold text-primary">اعلان‌های جدید</h4>
            {% if unread_notifications %}
            <button class="btn btn-sm btn-success" id="markAllAsReadBtn">
                <i class="ki-outline ki-check fs-2"></i> علامت‌گذاری همه به عنوان خوانده شده
            </button>
            {% endif %}
        </div>

        <!-- Pagination for Unread Notifications -->
        <div class="pagination-controls mb-3 d-flex justify-content-center" id="unreadNotificationsPagination">
            {% if unread_notifications.has_previous %}
                <a href="?page_unread={{ unread_notifications.previous_page_number }}" class="btn btn-outline-secondary me-2">قبلی</a>
            {% endif %}
            <span id="unreadNotificationsPageNumber" class="align-self-center">صفحه {{ unread_notifications.number }} از {{ unread_notifications.paginator.num_pages }}</span>
            {% if unread_notifications.has_next %}
                <a href="?page_unread={{ unread_notifications.next_page_number }}" class="btn btn-outline-secondary ms-2">بعدی</a>
            {% endif %}
        </div>

        <div id="newNotificationsContainer">
            {% if unread_notifications %}
                {% for notification in unread_notifications %}
                    <div class="d-flex justify-content-start mb-10 new-notification-item">
                        <div class="d-flex flex-column align-items-start w-100">
                            <div class="p-5 rounded bg-light-{{ notification.get_type_color }} text-gray-900 fw-semibold mw-lg-400px text-start w-100">
                                <div class="d-flex align-items-center mb-2">
                                    <span class="symbol symbol-30px me-3">
                                        <span class="symbol-label bg-light-{{ notification.get_type_color }}">
                                            <i class="ki-outline {{ notification.get_type_icon }} fs-2 text-{{ notification.get_type_color }}"></i>
                                        </span>
                                    </span>
                                    {% if notification.title %}
                                    <h5 class="mb-0 text-{{ notification.get_type_color }}">{{ notification.title }}</h5>
                                    {% endif %}
                                </div>
                                <form method="get" action="{% url 'dashboard:mark_notification_and_redirect' notification.id %}" class="mb-2">
                                    <button type="submit" class="btn btn-link text-hover-primary p-0">{{ notification.message }}</button>
                                </form>
                                <span class="text-muted fs-7">ایجاد شده: {{ notification.created_at|timesince }} پیش</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-muted text-center">
                    <i class="ki-outline ki-notification-bing fs-3x text-gray-300 mb-5"></i>
                    <div class="text-muted">هیچ اعلان جدیدی وجود ندارد.</div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- خوانده شده اعلان ها -->
    <div class="notifications-list d-none" id="readNotificationsList">
        <h4 class="fw-bold text-secondary">اعلان‌های خوانده شده</h4>

        <!-- Pagination for Read Notifications -->
        <div class="pagination-controls mb-3 d-flex justify-content-center" id="readNotificationsPagination">
            {% if read_notifications.has_previous %}
                <a href="?page_read={{ read_notifications.previous_page_number }}" class="btn btn-outline-secondary me-2">قبلی</a>
            {% endif %}
            <span id="readNotificationsPageNumber" class="align-self-center">صفحه {{ read_notifications.number }} از {{ read_notifications.paginator.num_pages }}</span>
            {% if read_notifications.has_next %}
                <a href="?page_read={{ read_notifications.next_page_number }}" class="btn btn-outline-secondary ms-2">بعدی</a>
            {% endif %}
        </div>

        <div id="readNotificationsContainer">
            {% if read_notifications %}
                {% for notification in read_notifications %}
                    <div class="d-flex justify-content-start mb-10 read-notification-item">
                        <div class="d-flex flex-column align-items-start w-100">
                            <div class="p-5 rounded bg-light-secondary text-gray-900 fw-semibold mw-lg-400px text-start w-100">
                                <div class="d-flex align-items-center mb-2">
                                    <span class="symbol symbol-30px me-3">
                                        <span class="symbol-label bg-light-{{ notification.get_type_color }}">
                                            <i class="ki-outline {{ notification.get_type_icon }} fs-2 text-{{ notification.get_type_color }}"></i>
                                        </span>
                                    </span>
                                    {% if notification.title %}
                                    <h5 class="mb-0 text-{{ notification.get_type_color }}">{{ notification.title }}</h5>
                                    {% endif %}
                                </div>
                                <a href="{{ notification.get_absolute_url }}" class="text-hover-primary d-block mb-2">{{ notification.message }}</a>
                                <span class="text-muted fs-7">ایجاد شده: {{ notification.created_at|timesince }} پیش</span>
                                {% if notification.read_at %}
                                    <br>
                                    <span class="text-muted fs-7">خوانده شده: {{ notification.read_at|timesince }} پیش</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-muted text-center">
                    <i class="ki-outline ki-notification-bing fs-3x text-gray-300 mb-5"></i>
                    <div class="text-muted">هیچ اعلان خوانده شده‌ای وجود ندارد.</div>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% else %}
    <div class="text-muted text-center">برای مشاهده اعلان‌ها ابتدا وارد شوید.</div>
{% endif %}

<script>
    document.getElementById('newNotificationsTab').addEventListener('click', function() {
        document.getElementById('newNotificationsList').classList.remove('d-none');
        document.getElementById('readNotificationsList').classList.add('d-none');
        this.classList.add('btn-primary');
        this.classList.remove('btn-secondary');
        document.getElementById('readNotificationsTab').classList.add('btn-secondary');
        document.getElementById('readNotificationsTab').classList.remove('btn-primary');
    });

    document.getElementById('readNotificationsTab').addEventListener('click', function() {
        document.getElementById('newNotificationsList').classList.add('d-none');
        document.getElementById('readNotificationsList').classList.remove('d-none');
        this.classList.add('btn-primary');
        this.classList.remove('btn-secondary');
        document.getElementById('newNotificationsTab').classList.add('btn-secondary');
        document.getElementById('newNotificationsTab').classList.remove('btn-primary');
    });
    
    // اضافه کردن عملکرد دکمه علامت‌گذاری همه به عنوان خوانده شده
    document.getElementById('markAllAsReadBtn')?.addEventListener('click', function() {
        if (confirm('آیا مطمئن هستید که می‌خواهید همه اعلان‌ها را به عنوان خوانده شده علامت‌گذاری کنید؟')) {
            fetch('{% url "dashboard:mark_all_notifications_read" %}', {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // نمایش پیام موفقیت
                    alert(data.message);
                    // بازخوانی صفحه
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('خطایی رخ داد. لطفاً دوباره تلاش کنید.');
            });
        }
    });
</script>