{% load static %}
{% load custom_tags %}
<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <div class="app-sidebar-header d-flex flex-stack d-none d-lg-flex pt-8 pb-2" id="kt_app_sidebar_header">
        <!--begin::Logo-->
        <a href="{% url 'dashboard:dashboard' %}" class="app-sidebar-logo">
            <img alt="Logo" src="{% static 'assets/media/logos/logo.png' %}" class="h-25px d-none d-sm-inline app-sidebar-logo-default theme-light-show" />
            <img alt="Logo" src="{% static 'assets/media/logos/logo-dark.png' %}" class="h-20px h-lg-25px theme-dark-show" />
        </a>
        <!--end::Logo-->
        <!--begin::Sidebar toggle-->
        <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-sm btn-icon bg-light btn-color-gray-700 btn-active-color-primary d-none d-lg-flex rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
            <i class="ki-outline ki-text-align-right rotate-180 fs-1"></i>
        </div>
        <!--end::Sidebar toggle-->
    </div>
    <!--begin::Navs-->
    <div class="app-sidebar-navs flex-column-fluid py-6" id="kt_app_sidebar_navs">
        <div id="kt_app_sidebar_navs_wrappers" class="app-sidebar-wrapper hover-scroll-y my-2" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_header" data-kt-scroll-wrappers="#kt_app_sidebar_navs" data-kt-scroll-offset="5px">
            <!--begin::team-->
            <div class="app-sidebar-menu-secondary menu menu-rounded menu-column mb-6">
                <!--begin::Heading-->

                <!--end::Heading-->
                {% if user|in_group:"HSE" %}
                    <div class="menu-item mb-2">
                        <div class="menu-heading text-uppercase fs-7 fw-bold">میانبر HSEC</div>
                        <!--begin::separator-->
                        <div class="app-sidebar-separator separator"></div>
                        <!--end::separator-->
                    </div>
                    <!--begin::Menu آیتم-->
                    <div class="menu-item">
                        <!--begin::Menu link-->
                        <a class="menu-link active" href="{% url 'anomalis:anomalis' %}">
                            <!--begin::Bullet-->
                            <span class="menu-icon">
                                <span class="bullet bullet-dot bg-success"></span>
                            </span>
                            <!--end::Bullet-->
                            <!--begin::Title-->
                            <span class="menu-title">ثبت آنومالی</span>
                            <!--end::Title-->
                        </a>
                        <!--end::Menu link-->
                    </div>
                    <!--end::Menu آیتم-->
                    <!--begin::Menu آیتم-->
                    <div class="menu-item">
                        <!--begin::Menu link-->
                        <a class="menu-link active" href="{% url 'dailyreport_hse:daily_report_form' %}">
                            <!--begin::Bullet-->
                            <span class="menu-icon">
                                <span class="bullet bullet-dot bg-success"></span>
                            </span>
                            <!--end::Bullet-->
                            <!--begin::Title-->
                            <span class="menu-title">ثبت گزارش روزانه</span>
                            <!--end::Title-->
                        </a>
                        <!--end::Menu link-->
                    </div>
                    <!--end::Menu آیتم-->
                    <!--begin::Menu آیتم-->
                    <div class="menu-item">
                        <!--begin::Menu link-->
                        <a class="menu-link" href="{% url 'anomalis:list' %}">
                            <!--begin::Bullet-->
                            <span class="menu-icon">
                                <span class="bullet bullet-dot bg-danger"></span>
                            </span>
                            <!--end::Bullet-->
                            <!--begin::Title-->
                            <span class="menu-title">لیست آنومالی</span>
                            <!--end::Title-->
                        </a>
                        <!--end::Menu link-->
                    </div>
                    <!--end::Menu آیتم-->
                {% endif %}
                {% if user|in_group:"operations" %}
                    <div class="menu-item mb-2">
                        <div class="menu-heading text-uppercase fs-7 fw-bold">میانبر عملیات</div>
                        <!--begin::separator-->
                        <div class="app-sidebar-separator separator"></div>
                        <!--end::separator-->
                    </div>
                    <!--begin::Menu عملیات-->
                    <div class="menu-item">
                        <!--begin::Menu link-->
                        <a class="menu-link active" href="{% url 'operations:create_shift_report' %}">
                            <!--begin::Bullet-->
                            <span class="menu-icon">
                                <span class="bullet bullet-dot bg-success"></span>
                            </span>
                            <!--end::Bullet-->
                            <!--begin::Title-->
                            <span class="menu-title">ثبت گزارش</span>
                            <!--end::Title-->
                        </a>
                        <!--end::Menu link-->
                    </div>
                    <!--end::Menu آیتم-->
                    <!--begin::Menu عملیات-->
                    <div class="menu-item">
                        <!--begin::Menu link-->
                        <a class="menu-link active" href="{% url 'leave_reports:shift_report' %}">
                            <!--begin::Bullet-->
                            <span class="menu-icon">
                                <span class="bullet bullet-dot bg-success"></span>
                            </span>
                            <!--end::Bullet-->
                            <!--begin::Title-->
                            <span class="menu-title">ثبت مرخصی</span>
                            <!--end::Title-->
                        </a>
                    </div>
                    <!--end::Menu link-->
                    <!--end::Menu آیتم-->
                {% endif %}
            </div>
            <!--end::team-->
            <!--begin::Sidebar menu-->
            <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention menu-state-bullet-primary">
                <!--begin::Heading-->
                <div class="menu-item mb-2">
                    <div class="menu-heading text-uppercase fs-7 fw-bold">واحد HSE</div>
                    <!--begin::separator-->
                    <div class="app-sidebar-separator separator"></div>
                    <!--end::separator-->
                </div>
                <!--end::Heading-->
                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                    <!--begin:Menu link-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <i class="ki-outline ki-home-2 fs-2"></i>
                        </span>
                        <span class="menu-title">داشبورد ها</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link active" href="{% url 'dashboard:dashboard' %}">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">پیش فرض</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu link-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <i class="ki-outline ki-gift fs-2"></i>
                        </span>
                        <span class="menu-title">گزارشات</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">آنومالی</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'anomalis:anomalis' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">ثبت آنومالی جدید</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'anomalis:list' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title"> لیست آنومالی ها</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                    <!--begin:Menu گزارش روزانه'-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">گزارش روزانه</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'dailyreport_hse:daily_report_form' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">ثبت گزارش جدید</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'dailyreport_hse:daily_report_list' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title"> لیست گزارش ها</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu گزارش روزانه-->
                    <!--end:مرخصی-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:مرخصی-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                            <!--begin:مرخصی-->
                            <span class="menu-link">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">مرخصی</span>
                                <span class="menu-arrow"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:مرخصی-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'leave_reports:shift_report' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">ثبت مرخصی شیفت</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="{% url 'leave_reports:shift_report_list' %}">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title"> لیست مرخصی</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:مرخصی-->
                        </div>
                        <!--end:مرخصی-->
                    </div>
                </div>
                <!--end:مرخصی-->
            </div>
            <!--end:Menu item-->
            {% if user|in_group:"operations" %}
                <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention menu-state-bullet-primary">
                    <div class="menu-item mb-2">
                        <div class="menu-heading text-uppercase fs-5 fw-bold">واحد عملیات</div>
                        <!--begin::separator-->
                        <div class="app-sidebar-separator separator"></div>
                        <!--end::separator-->
                    </div>
                    <!--end::Heading-->
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-icon">
                                <i class="ki-outline ki-home-2 fs-2"></i>
                            </span>
                            <span class="menu-title">داشبورد ها</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <!--end:Menu link-->
                        <!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion">
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link active" href="{% url 'dashboard:dashboard' %}">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">پیش فرض</span>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                        </div>
                        <!--end:Menu sub-->
                    </div>
                    <!--end:Menu item-->
                    <!--begin:گزارش شیفت عملیات-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-icon">
                                <i class="ki-outline ki-gift fs-2"></i>
                            </span>
                            <span class="menu-title">گزارشات</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <!--end:Menu link-->
                        <!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion">
                            <!--begin:Menu item-->
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <!--begin:Menu link-->
                                <span class="menu-link">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">دفتر گزارش شیفت</span>
                                    <span class="menu-arrow"></span>
                                </span>
                                <!--end:Menu link-->
                                <!--begin:Menu sub-->
                                <div class="menu-sub menu-sub-accordion">
                                    <!--begin:Menu item-->
                                    <div class="menu-item">
                                        <!--begin:Menu link-->
                                        <a class="menu-link" href="{% url 'operations:create_shift_report' %}">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">ثبت گزارش جدید</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item">
                                        <!--begin:Menu link-->
                                        <a class="menu-link" href="{% url 'operations:loading_operations_list' %}">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title"> لیست گزارش</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:Menu sub-->
                            </div>
                            <!--end:Menu item-->
                        </div>
                        <!--end:مرخصی-->
                        <div class="menu-sub menu-sub-accordion">
                            <!--begin:مرخصی-->
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <!--begin:مرخصی-->
                                <span class="menu-link">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">مرخصی</span>
                                    <span class="menu-arrow"></span>
                                </span>
                                <!--end:Menu link-->
                                <!--begin:مرخصی-->
                                <div class="menu-sub menu-sub-accordion">
                                    <!--begin:Menu item-->
                                    <div class="menu-item">
                                        <!--begin:Menu link-->
                                        <a class="menu-link" href="{% url 'leave_reports:shift_report' %}">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">ثبت مرخصی شیفت</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item">
                                        <!--begin:Menu link-->
                                        <a class="menu-link" href="{% url 'leave_reports:shift_report_list' %}">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title"> لیست مرخصی</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:مرخصی-->
                            </div>
                            <!--end:مرخصی-->
                        </div>
                        <!--end:مرخصی-->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!--end::Navs-->

</div>
