/* استایل برای select2 تا شبیه form-select معمولی باشه */
.select2-container--default .select2-selection--single {
    background-color: var(--bs-form-control-bg);
    border: 1px solid #dee2e6;
    border-radius: 0.475rem;
    height: calc(1.5em + 1.5rem);
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-gray-700);
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--bs-gray-700);
    line-height: 1.5;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    left: 0.75rem;
}

.select2-dropdown {
    border: 1px solid #dee2e6;
    border-radius: 0.475rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #dee2e6;
    border-radius: 0.475rem;
    padding: 0.75rem 1rem;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--bs-gray-200);
    color: var(--bs-gray-700);
}

.select2-results__option {
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}