<div class="card d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px">
    <div class="card-body px-6 px-lg-10 px-xxl-15 py-20">
        <div class="stepper-nav">
            <div class="stepper-nav">
                <!-- مرحله اول -->
                <div class="stepper-item {% if wizard.steps.current == 'workfront' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">1</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">وضعیت جبهه‌های کاری</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات جبهه‌های کاری</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله دوم -->
                <div class="stepper-item {% if wizard.steps.current == 'dump' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">2</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">وضعیت دمپ‌ها</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات دمپ‌ها</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله سوم -->
                <div class="stepper-item {% if wizard.steps.current == 'drilling_site' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">3</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">وضعیت سایت‌های حفاری</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات سایت‌های حفاری</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله چهارم -->
                <div class="stepper-item {% if wizard.steps.current == 'incident' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">4</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">حوادث و شبه‌حوادث</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات حوادث</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله پنجم -->
                <div class="stepper-item {% if wizard.steps.current == 'participation' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">5</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">اعزام‌ها، تشویق‌ها و تنبیه‌ها</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات پرسنلی</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله ششم -->
                <div class="stepper-item {% if wizard.steps.current == 'safety_stop' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">6</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">مشارکت‌ها و توقفات ایمنی</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات ایمنی</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله هفتم -->
                <div class="stepper-item {% if wizard.steps.current == 'blasting' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">7</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">آتشباری و محل آن</h3>
                            <div class="stepper-desc fw-semibold">اطلاعات آتشباری</div>
                        </div>
                    </div>
                    <div class="stepper-line h-40px"></div>
                </div>
                <!-- مرحله هشتم -->
                <div class="stepper-item {% if wizard.steps.current == 'final' %}current{% endif %}" data-kt-stepper-element="nav">
                    <div class="stepper-wrapper">
                        <div class="stepper-icon w-40px h-40px">
                            <i class="ki-outline ki-check fs-2 stepper-check"></i>
                            <span class="stepper-number">8</span>
                        </div>
                        <div class="stepper-label">
                            <h3 class="stepper-title">موارد پیگیری برای شیفت بعد</h3>
                            <div class="stepper-desc fw-semibold">وظایف آینده</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
